@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

main {
  ---sidebar-width: 80px;
  width: calc(100% - var(---sidebar-width));
}

@media screen and (min-width: 900px) {
  main {
    width: 100%;
  }
}
