$margin: 4px;

.MenuWrapper {
  display: inline-block;
  position: relative;
}

.Menu {
  border-radius: $border-radius;
  padding: 6px;
  background: $bg-paper-main;
  font-size: 14px;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
  -webkit-box-shadow: $menu-box-shadow;
  -moz-box-shadow: $menu-box-shadow;
  box-shadow: $menu-box-shadow;
}

.Menu.absolute {
  position: absolute;
  transform: translateX(0) translateY(-50%);
  left: calc(100% + $margin);
  top: 50%;
}

.Menu.fixed-bottom {
  position: fixed;
  bottom: $margin;
  left: calc($sidebar-width + $margin);
}

.Menu.fixed-top {
  position: fixed;
  top: $margin;
  left: calc($sidebar-width + $margin);
}
